<% var title = 'Authentication Example' %>
<% include head %>
<div class="message"><%- message %></div>

<span class="block">
<h1>Login</h1>
Username and Password
<form method="post" action="/login">
  <p>
    <label>Username:</label>
    <input type="text" name="username">
  </p>
  <p>
    <label>Password:</label>
    <input type="password" name="password">
  </p>
  <p>
    <input type="submit" value="Login">
  </p>
</form>
</span>

<span class="block">
<h1>Sign up</h1>
Create a new user
<form method="post" action="/create">
  <p>
    <label>First Name:</label>
    <input type="text" name="firstname">
  </p>
  <p>
    <label>Last name:</label>
    <input type="text" name="lastname">
  </p>
  <p>
    <label>Username:</label>
    <input type="text" name="username">
  </p>
  <p>
    <label>Password:</label>
    <input type="password" name="password">
  </p>
  <p>
    <input type="submit" value="Sign up">
  </p>
</form>
</span>

<% include foot %>
